{% extends 'base.html' %}

{% block body %}

<div id="header">
  <h1>Summary of Flakes:</h1>
  <div id="navbox">
    {% for link in top_links %}
    <span><a href="{{ link["href"] }}">{{ link["text"] }}</a></span>
    {% endfor %}
  </div>
</div>
<div class="content">
  <form>
    Date range:
    <input type="text" style="min-width: 40em" name="date_range" value="{{ date_range if date_range else '' }}">
    <br>
    <p style="font-size: .8em"><i>Limit to builds to this date range, separated by '-'.  Example: <b>jan 1 2020-feb 2022</b></i></p>
  </form>

  <div class="section">
    <table style="width:100%">
      <colgroup>
        <col/>
        <col/>
        <col/>
        <col/>
        <col/>
        <col/>
      </colgroup>
      <tr>
        {% set sort_col = sort_prefs['flake_summary'].split(':') %}
        <th
          {% if sort_col[0] == 'test_name' %}
	  class="subgrouptable_row_name sort-section-{{ sort_col[1] }}"
          {% else %}
	  class="subgrouptable_row_name"
          {% endif %}
	  ><a href="{{ request.path + '?sort_col=test_name&sort_section=flake_summary' }}">Test Name</a>
	</th>
        <th
	  {% if sort_col[0] == 'build_count' %}
          class="subgrouptable_row_other sort-section-{{ sort_col[1] }}"
          {% else %}
          class="subgrouptable_row_other"
          {% endif %}
	  ><a href="{{ request.path + '?sort_col=build_count&sort_section=flake_summary' }}">Build Count</a>
	</th>
        <th
	  {% if sort_col[0] == 'pass_rate' %}
          class="subgrouptable_row_other sort-section-{{ sort_col[1] }}"
          {% else %}
          class="subgrouptable_row_other"
          {% endif %}
	  ><a href="{{ request.path + '?sort_col=pass_rate&sort_section=flake_summary' }}">Pass Rate</a>
	</th>
        <th
	  {% if sort_col[0] == 'pass_count' %}
          class="subgrouptable_row_other sort-section-{{ sort_col[1] }}"
          {% else %}
          class="subgrouptable_row_other"
          {% endif %}
	  ><a href="{{ request.path + '?sort_col=pass_count&sort_section=flake_summary' }}">Pass Count</a>
	</th>
        <th
	  {% if sort_col[0] == 'fail_count' %}
          class="subgrouptable_row_other sort-section-{{ sort_col[1] }}"
          {% else %}
          class="subgrouptable_row_other"
          {% endif %}
	  ><a href="{{ request.path + '?sort_col=fail_count&sort_section=flake_summary' }}">Fail Count</a>
	</th>
        <th
	  {% if sort_col[0] == 'last_flake' %}
          class="subgrouptable_row_other sort-section-{{ sort_col[1] }}"
          {% else %}
          class="subgrouptable_row_other"
          {% endif %}
	  ><a href="{{ request.path + '?sort_col=last_flake&sort_section=flake_summary' }}">Last Flake</a>
	</th>
      </tr>
      {% for row in rows %}
      <tr>
        <td><a href="../../test/{{ tests[row["test_name"]] }}/history">{{ row["test_name"] }}</a></td>
        <td>{{ row["build_count"] }}</td>
        <td>{{ row["pass_rate_str"]}}</td>
        <td>{{ row["pass_count"]}}</td>
        <td>{{ row["fail_count"]}}</td>
        <td>{{ row["last_flake"]}}</td>
      </tr>
      {% endfor %}
      <table style="width:100%">
  </div>
</div>

{% endblock %}

